.container{
    display: flex;
    flex: row wrap;
    flex-flow: row;
    justify-content: center;
}

.borderTop{
    border-top: 1.5px black solid;            
}
.borderBottom{
    border-bottom: 1.5px black solid;	    
}
.borderRight{
    border-right: 1.5px black solid;
}
.borderLeft{
    border-left: 1.5px black solid;
}

.borderTopGray{
    border-top: 1.5px rgba(128, 128, 128, 0.500) solid;            
}
.borderBottomGray{
    border-bottom: 1.5px rgba(128, 128, 128, 0.500) solid;	    
}
.borderRightGray{
    border-right: 1.5px rgba(128, 128, 128, 0.500) solid;
}
.borderLeftGray{
    border-left: 1.5px rgba(128, 128, 128, 0.500) solid;
}

.boxCyan{
    background-color: cyan;
/*  height: 50px;
    width: 10%; */
    box-shadow: 0px 0px 15px grey inset;
    float: left;
    height: 100px;
    width: 100px;       
}

.boxLime{
    background-color: lime;
/*  height: 50px;
    width: 10%; */
    box-shadow: 0px 0px 15px grey inset;
    float: left;
    height: 100px;
    width: 100px;
}

.boxYellow{
    background-color: yellow;
/*  height: 50px;
    width: 10%;n */
    box-shadow: 0px 0px 15px grey inset;
    float: left;
    height: 100px;
    width: 100px;  
}

.boxMediumslateblue{
    background-color:mediumslateblue;
/*  height: 50px;
    width: 10%;  */
    box-shadow: 0px 0px 15px grey inset;
    float: left;
    height: 100px;
    width: 100px;   
}

.boxBlack{
    background-color:black;
/*  height: 50px;
    width: 10%; */
    box-shadow: 0px 0px 15px grey inset;
    float: left;
    height: 100px;
    width: 100px;  
}

.boxOrange{
    background-color:orange;
/*  height: 50px;
    width: 10%; */
    box-shadow: 0px 0px 15px grey inset;
    float: left;
    height: 100px;
    width: 100px;  
}

.boxRed{
    background-color:red;
/*  height: 50px;
    width: 10%; */
    box-shadow: 0px 0px 15px grey inset;
    float: left;
    height: 100px;
    width: 100px;  
}

.boxBlue{
    background-color:blue;
/*  height: 50px;
    width: 10%; */
    box-shadow: 0px 0px 15px grey inset;
    float: left;
    height: 100px;
    width: 100px;   
}
